@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <div class="main">
        <div class="top-row px-4 text-center">
            <h1><BSBadge Color="Color.Primary">Rock Paper and Scissors</BSBadge></h1>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
