@using RockPaperScissors.Helpers

@inject IJSRuntime JSRuntime

<div>Teachable Machine Image Model</div>
<button type="button" @onclick="OnClick">Start</button>
<div id="webcam-container"></div>
<div id="label-container"></div>

<div style="display: flex; justify-content: center; margin-bottom: 20px">
    @foreach (var hand in GameMaterials.Hands)
    {
        <img src="@hand.Image" class="image selectable-image" />
    }
</div>





@code {
    [CascadingParameter] public GameMaterials GameMaterials { get; set; }

    private IJSObjectReference _jsModule;


    public async Task OnClick()
    {
        _jsModule =  await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/JavaScript.js");
        await _jsModule.InvokeVoidAsync("init");
    }
}
